<div id="mySidebar" class="sidebar" [style.width]="isOpen ? '250px' : '0'">
  <a href="javascript:void(0)" class="closebtn" (click)="toggleSidebar()">×</a>
  <a routerLink=""><i class="fa fa-home"></i> Home</a>
  <a routerLink="/reservation"><i class="fa fa-user-plus"></i> Inscription</a>
  <a routerLink="/recherche"><i class="fa fa-search"></i> Recherche</a>
  <a routerLink="/reservation"><i class="fa fa-chart-bar"></i> Statistic</a>
</div>
<div id="main" [style.marginLeft]="isOpen ? '250px' : '0'">
  <button class="openbtn" (click)="toggleSidebar()">☰ Menu</button>
</div>
