<div class="recherche-container">
  <h2>Recherche d'invité</h2>

  <input
    type="text"
    placeholder="Rechercher un invité"
    [(ngModel)]="searchQuery"
    (ngModelChange)="fetchData()"
    class="search-input"
  />

  <div *ngIf="searchQuery">
    <h3>Résultats de recherche</h3>
    <ul *ngIf="invites.length > 0; else noResults">
      <li *ngFor="let invite of invites" class="invite-item">
        <strong>{{ invite.cin }}</strong> - {{ invite.nom }} -
        {{ invite.email }} - {{ invite.telephone }} -
        <span
          [ngClass]="{
            paye: invite.paiement === 'Payé',
            'non-paye': invite.paiement !== 'Payé'
          }"
        >
          {{ invite.paiement }}
        </span>

        <button
          *ngIf="invite.paiement !== 'Payé'"
          (click)="updatePaiement(invite.cin)"
          [disabled]="loading"
          class="pay-button"
        >
          💳 Payer
        </button>

        <button *ngIf="invite.paiement === 'Payé'" (click)="printInvite(invite)">🖨️ Imprimer</button>
      </li>
    </ul>

    <ng-template #noResults>
      <p>Aucun invité trouvé.</p>
    </ng-template>

    <div *ngIf="loading" class="loader-container">
      <div class="loader"></div>
      <p>Traitement en cours...</p>
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <div *ngIf="!searchQuery">
    <p>Entrez un nom pour rechercher un invité.</p>
  </div>
</div>
